################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
obj
bin
node_modules

.secrets
/src/VisierUtility/VisierUtility.csproj.user
